@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-sans bg-light text-dark antialiased;
}

:focus-visible {
  outline: 2px solid #ffd900;
  outline-offset: 2px;
}