@import "tailwindcss";

@theme {
  --color-yellow: #F6D330;
  --color-text-black: #0B0D21;
  --color-dark-purple: #210B20;
}

.font-sofiaLight {
  font-family: var(--font-sofia-light);
}

.font-sofiaNormal {
  font-family: var(--font-sofia-normal);
}

.font-sofiaSemi {
  font-family: var(--font-sofia-semibold);
}

.font-sofiaBold {
  font-family: var(--font-sofia-bold);
}

.font-alata {
  font-family: var(--font-alata);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :focus-visible {
    outline: 2px solid var(--color-yellow);
    outline-offset: 2px;
  }
}